<div class="header">
    <a href="/" class="logo">The AlteredCloud</a>
    <div class="header-right">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/">Home</a>
                <a class="active" href="{% url 'github' %}">GitHub Projects</a>
                <a href="{% url 'stocks' %}">Stock Trends</a>
            </div>
            <span style="font-size:30px; cursor:pointer" onclick="openNav()">&#9776;</span>
        </div>
</div>
